input {
  text-align: right;
}

.equation.stacked {
  display: inline-block;
}

.equation.stacked .number {
  display: block;
  margin-left: 1em; /* space for the operator */
  text-align: right;
}

.equation.stacked .operator {
  float: left;
}

.equation.stacked .equals {
  display: block;
  height: 0;
  border-bottom: solid 1px black;
  overflow: hidden;
}

#questions {
  border: solid;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
}

.questionBox {
  display: inline-block;
  margin: 20px;
}

#questionSetupBox {
  margin-top: 50px;
  text-align: center;
}

#generateQuestionsBox {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#feedback {
  min-height: 1.2em;
}

.currentQuestionBox {
  font-weight: bold;
}
