/* remove arrows from number input element */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  text-align: right;
  width: 60px;

  /* remove arrows from number input element */
  /* Firefox */
  -moz-appearance: textfield;
}

.questionNumber {
  display: block;
  float: left;
  font-weight: normal;
}

.equation.stacked {
  display: inline-block;
}

.equation.stacked .operand {
  display: block;
  margin-left: 1em; /* space for the operator */
  text-align: right;
  padding-right: 5px;
}

.equation.stacked .operator {
  float: left;
}

.equation.stacked .equals {
  display: block;
  height: 0;
  border-bottom: solid 1px black;
  overflow: hidden;
}

#questions {
  border: solid;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}

.questionBox {
  display: inline-block;
  margin: 20px 60px 20px 60px;
  min-width: 75px;
  text-align: right;
}

#questionSetupBox {
  margin-top: 50px;
  text-align: center;
}

#generateQuestionsBox {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

#feedback {
  min-height: 1.2em;
}

.currentQuestionBox {
  font-weight: bold;
}

[id^="answer_"] {
  padding-right: 5px;
  border-width: 1px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}
